*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #03001C;
}
.navbar-brand{
    background-color: black;
    color:#fff;
}
.logo{
    height:50px;
}

.coin-container{
    margin-top:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.card{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 10px;
    margin: 20px;
}
.card:hover{
    cursor:pointer;
    transform:scale(1.1);
    transition: 0.3s ease-in-out;
}